    body * {
        font-family: 'Montserrat','微軟正黑體','sans-serif';
    }
    .head1 {
        /* background-color: #000000; */
        position: fixed;
        width: 100%;
        font-size: 20px;
        background-color:#333333;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    }
    
    .content1 {
        padding: 100px 0px 10px 0px;
        text-align: center;
        background: #b3b3b3; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#b3b3b3, #ffffff); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#b3b3b3, #ffffff); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#b3b3b3, #ffffff); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#b3b3b3, #ffffff); /* Standard syntax (must be last) */
    }
    
    .img-profile {
        border-radius: 50%;
        width: 20%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    }
    #icon_home{
        height: 30px;
    }


/*social*/
    .social {
        padding: 10px 0px 10px 0px;
        width: 100%;
        background-color:#333333;
        text-align:center;
    }
    
    .social h1 {
        font-weight: bolder;
        font-size: 50px;
        color: #FFFFFF;
    }
    
    .social h3 {
        font-size: 24px;
        color: #b3b3b3;
        font-weight: 100;
    }
    
    .social_group {
        padding-left: 0px;
    }
    
    .social_group li {
        display: inline-block;
    }
    
    .social_group label {
        color: #FFFFFF;
    }
    
    .social_link {
        display: block;
        text-decoration: none;
        color: #e6e6e6;
        width: 100px;
    }
    
    .social_link:hover{
        text-decoration: none;
        color: #4d4d4d;
    }
