@import "sass/component/button.scss";

$fontfamily_main: 'Montserrat','微軟正黑體','sans-serif';
// 'Archivo Black', sans-serif;
// 'Montserrat','微軟正黑體','sans-serif';

body {
    font-family: $fontfamily_main;
    background-color: #0D5661;
    color: #ffffff;
    text-align: center;
}

.container {
    padding: 10px;
}

.my-image {
    margin: 50px 0px 10px 0px;
    padding: 5px;
    width: 150px;
    border: 5px solid #3d3d3d;
    border-radius: 50%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 6px 6px 6px 6px rgba(0, 0, 0, 0.19); 
}

.my-intro {
    margin: 0px auto;
    padding: 5px;
    text-align: justify;
    color: #ffffff7e;
    width: 50vw;
    
}

.ability {
    color: #81C7D4;
    font-size: 1em;
    div {
        padding-top: 20px;
        label {
            margin-right: 3px;
            padding: 0px;
        }
    }
}

.techsymbol {
    color: #86C166;
}

.portfolio-button {
    @include button-rectangle;
    font-family: $fontfamily_main;

    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &:active {
        // To-add
    }
}

.social_group {
    padding-left: 0px;
    color: #FFC408;
    li {
        display: inline-block;
        a {
            display: block;
            text-decoration: none;
            color: #FFC408;
            width: 100px;

            &:hover {
                color: rgba(255, 197, 8, 0.452);
            }
        }
    }
    label {
        color: rgba(255, 197, 8, 0.493);
    }
}

#email {
    color: #FAD689;
}

//////////Design page////////////

.design-block {
    padding:10px;
    margin: 5px auto;
    width: 30vw;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.design-preview {
    img {
        width: 30vw;
        height: 20vw;
        border-radius: 10px;
    }
}

.visite-button {
    @include button-circle;
    font-family: $fontfamily_main;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover, &:active{
        opacity: 0.5;
    }
}



